
/* ãƒ¬ã‚¤ã‚¢ã‚¦ãƒˆä»¥å¤–ã®è¨­å®š */
* {margin: 0; padding: 0; font-size: 100%;}
html {height: 100%;}
body {position: relative; color: #000; background: #fff; font: 100%/2 "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", "Osaka", "ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯", "MS PGothic", sans-serif;}
a {color: #fff;}
#header {background: #fff; text-align: center;}
#complementary {height: 25%; background: #fff; text-align: left;}
#complementary a {color: #4169E1}
#complementary ul {margin: 0 0 0 1em;padding: 0;}
#complementary li { list-style:outside none;}
#navigation {height: 55%; background: #fff; text-align: center;}
#datatab {height: 40%; background: #fff; text-align: left;}
#main {height: 40%; background: #fff; text-align: left;}
#main a {color: #4169E1}
#footer {height: 5%; background: #fff; text-align: center;}
#footer a {color: #4169E1}

p.text{
 float: left;
}
p.plane{
 text-indent: 2em;
}
p.title {
font-size: 20px;
font-weight: bold;
margin: 1px;
}
p.title1 {
font-size: 24px;
font-weight: bold;
float: left;
}
p.title2 {
font-size: 24px;
font-weight: bold;
}
p.titleC {
font-size: 24px;
font-weight: bold;
margin:	20px 10px 50px 50px;
}

p.titleVC {
font-size: 24px;
font-weight: bold;
margin:	20px 10px 10px 300px;
}


/* ãƒ¬ã‚¤ã‚¢ã‚¦ãƒˆã®è¨­å®š */
body {
	margin: 0 auto;
	width: 960px;
}
#header {
	width: 960px;
	padding: 0px 0px 0px 0px;
}

#complementary {
	float: right;
	width: 700px;
	height:	260px;
	line-height: 160%;
	border: 2px solid darkblue;
	border-radius: 5px;
	overflow: scroll;
	margin: 0px 0px 0px 2px;
} 
#textbox {
	float: right;
	width: 680px;
	border: 2px solid darkblue;
	border-radius: 5px;
	line-height: 160%;
	padding: 10px 10px 10px 10px;
}
.textboxnoline {
	float: right;
	width: 680px;
	line-height: 150%;
	padding: 10px 10px 10px 10px;
}

#clmn {
	width: 680px;
	float: left;
	line-height: 150%;
}

#clmnL {
	width: 180px;
	float: left;
	line-height: 150%;
	vertical-align: top;
}

#clmnR {
	width: 500px;
	float: left;
	line-height: 150%;
	vertical-align: top;
}

#clmn1 {
	width: 140px;
	float: left;
	line-height: 150%;
}

#clmn2 {
	width: 540px;
	float: left;
	line-height: 150%;
}

#clmnA {
	width: 100px;
	float: left;
	line-height: 150%;
}

#clmnB {
	width: 600px;
	float: left;
	line-height: 150%;
}

#box {
	float:	right;
	width:	720px;
	border:	2px solid blue;
	border-radius:	5px;
	padding: 1px 1px 1px 2px;
}


#main {
	float: right;
	clear: right;
	width: 720px;
}
.linespace {
	clear: 	both;
	width: 	720px;
	height:	30px;
}

#setupper {
	clear: 	both;
	width: 	960px;
	height:	100px;
}
#footer {
	clear: both;
	width: 960px;
}



/* ãƒœã‚¿ãƒ³ */
#navigation {
	float: left;
	width: 240px;
}
.btn {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	display: block;
	background: #00FFFF;
	border: 1px solid #fff;
	color:#000;
	width: 200px;
	margin: 5px 0;
	padding: 5px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #aaa;
}
.btnf {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	display: block;
	background: #6495ED;
	border: 1px solid #fff;
	color:#fff;
	width: 200px;
	margin: 5px 0;
	padding: 5px 0;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #aaa;
}
.btnc {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	display: block;
	background: #00CDFF;
	border: 1px solid #fff;
	color:#000;
	width: 200px;
	margin: 5px 0;
	padding: 5px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #aaa;
}
.btnj {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	display: block;
	background: yellowgreen;
	border: 1px solid #fff;
	color:#000;
	width: 200px;
	margin: 5px 0;
	padding: 5px 0;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #aaa;
}
.btnTop {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 28px;
	display: block;
	background: Blue;
	border: 1px solid #fff;
	color:#fff;
	width: 200px;
	margin: 5px 0;
	padding: 3px 0;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 5px 5px 5px #aaa;
}
.btn:hover {  /*ãƒžã‚¦ã‚¹ãƒã‚¤ãƒ³ã‚¿ãŒä¹—ã£ãŸæ™‚*/
	background: #6495ED;
}
.btnj:hover {  /*ãƒžã‚¦ã‚¹ãƒã‚¤ãƒ³ã‚¿ãŒä¹—ã£ãŸæ™‚*/
	background: #6495ED;
}


/* ã‚¿ãƒ– */
#datatab {
	float: right;
	clear: right;
	width: 720px;
}

.tab {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 2.5;
	display: block;
	background: #ffff66;
	border: 0.5px solid #ccc;
	color:#000;
	width: 120px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}

.tabs {
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	display: block;
	background: #ffff66;
	border: 0.5px solid #ccc;
	color:#000;
	width: 120px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}
.tabf {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 2.5;
	display: block;
	background: #ff3333;
	border: 0.5px solid #ccc;
	color:#ffffff;
	width: 120px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}

.tabsf {
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	display: block;
	background: #ff3333;
	border: 0.5px solid #ccc;
	color:#fff;
	width: 120px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}

.tab:hover {  /*ãƒžã‚¦ã‚¹ãƒã‚¤ãƒ³ã‚¿ãŒä¹—ã£ãŸæ™‚*/
	background: #ff3333;
}


.tab2 {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 2.5;
	display: block;
	background: #ffff66;
	border: 0.5px solid #ccc;
	color:#000;
	width: 100px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}

.tabf2 {
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 2.5;
	display: block;
	background: #ff3333;
	border: 0.5px solid #ccc;
	color:#ffffff;
	width: 100px;
	height: 45px;
	margin:  5px 0;
	padding: 0px 0;
	vertical-align: middle;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #aaa;
}


dl {
	line-height: 22px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	overflow: hidden;
}
dt {
	width: 100px;
	margin:  5px;
	float: left;
}
dd {
	width: 540px;
	margin:  5px;
	float: left;
}

dt1 {
	width: 140px;
	margin:  5px;
	float: left;
}
dd1 {
	width: 500px;
	margin:  5px;
	float: left;
}

dt2 {
	width: 180px;
	margin:  5px;
	float: left;
}
dd2 {
	width: 460px;
	margin:  5px;
	float: left;
}


dt3 {
	width: 260px;
	margin:  1px;
	float: left;
}
dd3 {
	width: 380px;
	margin:  1px;
	float: left;
}
dt4 {
	width: 350px;
	margin:  1px;
	float: left;
}
dd4 {
	width: 350px;
	margin:  1px;
	float: left;
}
dt5 {
	width: 480px;
	margin:  1px;
	float: left;
}
dd5 {
	width: 220px;
	margin:  1px;
	float: left;
}
dtJ {
	width: 180px;
	margin:  1px;
	float: left;
}
ddJ {
	width: 480px;
	margin:  1px;
	float: left;
}

